@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark_Blue: hsl(249, 10%, 26%);
  --Grayish_Blue: hsl(246, 25%, 77%);
}

body {
  background: var(--Red);
  background-image: url(../../../public/assets/images/bg-intro-desktop.png);
}

.page-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.card-container h1 {
  color: white;
  font-weight: 700;
  font-size: xx-large;
}

.card-container p {
  color: white;
  font-weight: 300;
}

.card-container h2 {
  text-align: center;
  background-color: var(--Blue);
  padding: 1rem;
  border-radius: 5px;
  font-weight: 300;
  color: white;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.5);
}

.card-container form {
  display: flex;
  height: 30rem;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: white;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.5);
}

.card-container form div {
  display: flex;
  flex-direction: column;
}

.input-ok {
  padding: 1rem;
  border: 1px solid var(--Grayish_Blue);
  border-radius: 5px;
}

.input-ok::placeholder {
  color: var(--Grayish_Blue);
  font-weight: 700;
}

.input-ok:focus {
  outline: none;
}

.card-container form div span {
  font-size: xx-small;
  text-align: end;
  color: var(--Red);
}

.card-container form button {
  padding: 1rem;
  background-color: var(--Green);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  box-shadow: 0px 5px rgba(56, 204, 140, 0.5);
  cursor: pointer;
}

.card-container form p {
  text-align: center;
  color: var(--Grayish_Blue);
}

.card-container form p span {
  color: var(--Red);
  font-weight: 500;
}

.input-error {
  padding: 1rem;
  border-radius: 5px;
  background-image: url(../../../public/assets/images/icon-error.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 90%;
  border: 1px solid var(--Red);
}

.input-error:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .page-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: none;
    margin-bottom: 3rem;
    padding: none;
    height: 100%;
    width: 100%;
  }

  .card-container {
    padding: 0 1rem;
  }

  .card-container h1 {
    text-align: center;
  }

  .card-container p {
    text-align: center;
  }
}
